*,
*::before,
*::after{
  box-sizing: border-box;
}

:root{
  --mobile-width: 375px;
  --desktop-width: 1440px;

  --color-white: hsl(0, 0%, 100%);
  --color-slate-300: hsl(212, 45%, 89%);
  --color-slate-500: hsl(216, 15%, 48%);
  --color-slate-900: hsl(218, 44%, 22%);

  --font-size-big: 22px;
  --font-size-base: 15px;
  --font-line-height-big: 1.2;
  --font-line-height-base: 1.4;
  --letter-spacing-base: 0.2px;
  --font-family-outfit: 'Outfit', sans-serif;
  --font-weight-400: 400;
  --font-weight-700: 700;

  --space-500:40px;
  --space-300:24px;
  --space-200:16px;
}

.outfit-bold{
  font-family: var(--font-family-outfit);
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-700);
  line-height: var(--font-line-height-big);
  color: var(--color-slate-900);
}
  
.outfit-regular{
  font-family: var(--font-family-outfit);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-400);
  line-height: var(--font-line-height-base);
  letter-spacing: var(--letter-spacing-base);
  color: var(--color-slate-500);
}

h1,p{
  margin:0;
}

img {
  width: 100%;
  border-radius:10px;

}

body{
  background-color: var(--color-slate-300);
  display: flex;
  flex-direction: column;
  gap:var(--space-200);
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


figure{
  display: flex;
  flex-direction: column;
  gap:var(--space-300);
  padding: var(--space-200) var(--space-200) var(--space-500);
  width: 320px;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 4.77%);
  border-radius: 20px;
  background-color: var(--color-white);
}

.qr-code{
  border-radius:10px;
}

figcaption{
  display: flex;
  flex-direction: column;
  gap:16px;
  padding:0 var(--space-200);
  text-align: center;
}